@import '../../css/settings';
@import '../../css/mixins/index';

.selection__title {
  margin-top: ($grid * 9);

  @include respond-to-wide {
    margin-top: auto;
  }
}

.selection__title + .selection__summary {
  padding-top: ($grid * 2.4);
}

.selection__summary + .selection__selector {
  padding-top: ($grid * 2.2);
}
