@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    animation: spin .8s linear infinite;
    display: block;
    margin: 0;
}

.inline {
  margin: 0 auto;
}
