@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-family: 'Open Sans';
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.k {
  margin-bottom: 10px;
}

.sidebar {
  width: 180px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: normal;
}

.content {
  flex: 1;
  padding: 90px;
}

.sidebarNav {
  position: fixed;
  background: #363636;
  width: 140px;
  padding: 20px 0 0 20px;
  min-height: 100vh;
}

header {
  text-align: center;
}

.menuTitle, .menuItem {
  color: white;
  display: block;
  padding: 7px 0;
  text-decoration: none;
}

.menuTitle {
  font-size: 1.1em;
}

.menuItem {
  font-size: 0.9em;
  font-weight: 300;
  padding-left: 20px;

  &.selected {
    font-weight: 900;
  }
}

.designTitle {
  margin: 40px;
  text-align: center;
}

.variationTitle {
  margin-left: 40%;
}


.pageNav {
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;

  a {
    padding: 10px;
  }
}
