<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 cui__baseline">
<![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 cui__baseline">
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="cui__baseline" lang="en">
<!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>{%=o.htmlWebpackPlugin.options.title || 'Webpack App'%}</title>
    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
  </head>
  <body>

    <div id="root"></div>

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>
</html>
