@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-family: 'Open Sans';
}

main {
  display: table;
}

aside {
  -webkit-font-smoothing: antialiased;
  display: table-cell;
  font-size: 13px;
  font-weight: normal;
  padding: 10px 0 0 10px;
  width: 200px;
}

nav {
  position: fixed;

  a {
    display: block;
    padding: 5px;
    text-decoration: none;

    &.selected {
      text-decoration: underline;
    }
  }
}

.example {
  display: table-cell;
  max-width: 580px;
  width: 580px;
}

pre {
  background: #F5F5F7 !important;
  padding: 2em !important;
  margin: 0;
}

section {
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-bottom: 1em;
  overflow: hidden;
}

article {
  padding: 1em;
}
