@import '../../css/settings';
@import '../../css/mixins/index';

.block--installments {
  background: map-get($colors, light-grey);
  border-radius: $border-radius;
  display: block;
  overflow: auto;
  padding: ($grid * 3) 10% ($grid * 3) 10%;

  &.left-align {
    padding: ($grid * 3)
  }
}

.block--installments__values {
  padding-top: $grid;
}

.block--installments__value {
  display: block;
  float: left;
  text-align: center;
  width: 50%;
}

.block--installments__value__title {
  @include text-label;
  @include typography(map-get($font-sizes, input-label), semi-bold);
}

.block--installments__value__content {
  @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

  line-height: ($grid * 3);
  margin: 0;
  padding: ($grid * .4) 0 ($grid * .6) 0;

  @include respond-to-wide {
    @include typography(map-get($font-sizes, big-body-desktop), semi-bold);
  }
}

.block--installments__value__content__clarification {
  @include typography(map-get($font-sizes, footnote), regular);

  color: map-get($colors, grey-text);
  position: relative;
  top: ($grid * -.8);
}
