@import '../../css/settings';
@import '../../css/mixins/index';

.code-prompt__field {
  margin-bottom: ($grid * 5);
  margin-top: ($grid * 6);
}

.code-prompt__error {
  padding-top: ($grid * 1);
}

.code-prompt__error__icon {

}
