@import '../../css/settings';
@import '../../css/mixins/index';

.code-prompt__field {
  margin-bottom: ($grid * 5);
  margin-top: ($grid * 6);

  &:last-child {
    margin-bottom: 0;
  }
}

.code-prompt__error {
  margin-top: ($grid * -.6);
}

.code-prompt__error__icon {
  display: inline-block;
  margin-right: ($grid * 1);
  position: relative;
  top: ($grid * 1);
}

.code-prompt__error__paragraph {
  display: inline-block;
}

.code-prompt__error + .code-prompt__message {
  margin-top: ($grid * 3);
}

.code-prompt__loading__loader {
  display: inline-block;
  margin-right: ($grid * 1.8);
  position: relative;
  top: ($grid * .4);
}

.code-prompt__loading__paragraph {
  display: inline-block;
}
