@import '../../css/settings';
@import '../settings.scss';
@import '../../css/mixins/index';

.sidebar {
  -webkit-font-smoothing: antialiased;
  background: map-get($colors, sidebar-blue);
  display: none;
  font-size: 13px;
  font-weight: normal;
  min-height: 100vh;
  padding: 30px;
  width: 120px;
}

.sidebarNav {
  min-height: 100vh;
}

.k {
  margin-bottom: 10px;
}

.menuTitle, .menuItem {
  color: white;
  display: block;
  padding: 7px 0;
  text-decoration: none;
}

.menuTitle {
  font-size: 1.1em;
}

.menuItem {
  font-size: 0.9em;
  font-weight: 300;
  padding-left: 20px;

  &.selected {
    font-weight: 900;
  }
}

@media screen and (min-width: 1000px) {
  .sidebar {
    display: block;
  }
}
