pre {
  background: #363636 !important;
  margin: 0;
  padding: 1em;
  min-width: 400px;

  code {
    font-weight: 100;
    font-family: 'Fira Mono', 'Fira Code' !important;
  }
}

.variation {
  margin-bottom: 1em;
  overflow: hidden;
}

.live {
}
