pre {
  margin: 0;

  code {
    background: "#363636";
    color: #fff;
    font-family: 'Fira Code', 'Consolas', 'Menlo', 'Andale Mono', monospace;
    font-weight: 100;
    line-height: 1.5em;
  }
}

.code {
  background: #363636;
  border-radius: 4px;
  display: inline-block;
  min-width: 400px;
  overflow-x: auto;
  padding: 2%;
  width: calc(56vw - 180px);

  &.narrow {
    width: calc(38vw - 180px);
  }
}

.variation {
  margin-bottom: 1em;
}

.live {
  display: inline-block;
  padding-right: 2%;
  vertical-align: top;
  width: calc(38vw - 180px);

  .block {
    border-radius: 4px;
  }

  &.wide {
    width: calc(53vw - 180px);
  }
}

@media screen and (max-width: 1025px) {
  .code {
    display: none;
  }

  .live {
    width: calc(100vw - 180px);
    padding-right: 0;

    &.wide {
      width: calc(100vw - 180px);
    }
  }
}

@media screen and (max-width: 568px) {
  .live {
    width: calc(100vw - 40px);

    &.wide {
      width: calc(100vw - 40px);
    }
  }
}
