pre {
  background: #363636 !important;
  margin: 0;
  padding: 2%;
  min-width: 400px;
  display: inline-block;
  width: 56%;
  border-radius: 4px;

  code {
    font-weight: 100;
    font-family: 'Fira Mono', 'Fira Code' !important;
  }
}

.variation {
  margin-bottom: 1em;
  overflow: hidden;
}

.live {
  display: inline-block;
  width: 38%;
  padding-right: 2%;
  vertical-align: top;

  .block {
    border-radius: 4px;
  }  
}
