@import '../../css/settings';
@import '../../css/mixins/index';

.switch {
    @include typography(($grid * 2.8), regular);
    @include switch(0);

    line-height: ($grid * 4);
    padding-bottom: ($grid * 1);
    padding-top: ($grid * 1);

    &.right {
        @include switch(0, right);
    }
}
