@import '../../css/settings';
@import '../../css/mixins/index';

.switch {
  position: relative;

  &.is-disabled {
    opacity: .2;
  }
}

.switch__input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.switch__label {
  @include typography(map-get($font-sizes, big-body-mobile), regular);

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  display: block;
  line-height: ($grid * 4);
  padding-bottom: ($grid * 1);
  padding-left: ($grid * 10);
  padding-top: ($grid * 1);
  user-select: none;

  @include respond-to-wide {
    @include typography(map-get($font-sizes, big-body-desktop), regular);
  }

  .is-error & {
    color: map-get($colors, error);
  }

  .is-focused & {
    color: map-get($colors, klarna-blue);
  }

  .right & {
    padding-left: 0;
    padding-right: ($grid * 10);
  }

  .legal & {
    @include typography(map-get($font-sizes, legal-mobile), regular);
    padding-bottom: ($grid * .8);
    padding-top: ($grid * 1.2);

    @include respond-to-wide {
      @include typography(map-get($font-sizes, input-label), regular);
    }
  }
}

.switch__container {
  position: absolute;
  left: 0;
  top: 0;

  .right & {
    left: auto;
    right: 0;
  }
}

.switch__bullet {
  background: map-get($colors, grey-text);
  border-radius: ($grid * 4);
  cursor: pointer;
  height: ($grid * 4.4);
  left: 0;
  position: relative;
  top: ($grid * .8);
  transition: all .2s ease;
  width: ($grid * 7.4);

  .is-checked & {
    background: map-get($colors, klarna-blue);
    border-color: map-get($colors, klarna-blue);
  }

  .right & {
    left: auto;
    right: 0;
  }
}

.switch__bullet__toggle {
  background: white;
  border-radius: ($grid * 5);
  cursor: pointer;
  display: block;
  height: ($grid * 4);
  left: ($grid * .2);
  position: absolute;
  top: ($grid * .2);
  transition: all .2s ease;
  width: ($grid * 4);

  .is-checked & {
    transform: translateX($grid * 3);
  }
}
