@import '../css/settings';
@import '../css/mixins/index';

$transition-duration: 500ms;
$highlightTransitionEasing: cubic-bezier(.31,.09,.24,1);

.installments {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  @include respond-to-wide {
    display: table;
    height: ($grid * 15);
    table-layout: fixed;
  }

  .installments__input {
    display: block;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  .installments__row {
    display: block;

    @include respond-to-wide {
      display: table-row;
    }
  }

  .installments__cell {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: ($grid * .2) solid $border-color;
    border-bottom: 0;
    box-sizing: border-box;
    color: map-get($colors, black);
    cursor: pointer;
    display: block;
    padding-left: $grid * 0.4;
    padding-right: $grid * 0.4;
    position: relative;
    transition: border 0ms $transition-duration;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-of-type {
      border-bottom: ($grid * .2) solid $border-color;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.is-previously-selected,
    &.is-after-previously-selected {
      transition: border 0ms;

      .installments__cell__highlight {
        transition: opacity 0ms;
      }
    }


    @include respond-to-wide {
      border: ($grid * .2) solid $border-color;
      border-right: 0;
      display: table-cell;
      height: 100%;
      text-align: center;
      vertical-align: middle;

      &:first-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
      }

      &:last-of-type {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 5px;
        border-right: ($grid * .2) solid $border-color;
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
      }
    }
  }

  .installments__cell__content {
    @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    display: block;
    line-height: ($grid * 8) - ($grid * .4);
    padding-left: ($grid * 4);

    @include respond-to-wide {
      @include typography(map-get($font-sizes, big-body-desktop), semi-bold);

      line-height: ($grid * 4);
      padding-left: 0;
    }
  }

  .installments__cell__highlight {
    border: ($grid * .4) solid map-get($colors, klarna-blue);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: calc(100% + 2px);
    left: -1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1px;
    transition: opacity 0ms $transition-duration;
    width: calc(100% + 2px);
    z-index: 5;
  }

  .installments__cell.is-hovered,
  .installments__cell.is-focused {
    color: map-get($colors, klarna-blue);
  }

  .is-selected {
    border-top-color: transparent;

    .installments__cell__highlight {
      opacity: 1;
    }

    @include respond-to-wide {
      border-left-color: transparent;
      border-top-color: $border-color;
    }
  }

  .installments__highlight {
    border: ($grid * .4) solid map-get($colors, klarna-blue);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: transform $transition-duration $highlightTransitionEasing;
    visibility: visible;
    z-index: 4;

    &.has-position {
      visibility: hidden;
    }

    @include respond-to-wide {
    }
  }

  .is-after-selected {
    border-top-color: transparent;

    @include respond-to-wide {
      border-left-color: transparent;
      border-top-color: $border-color;
    }
  }
}
