@import '../css/settings';
@import '../css/mixins/index';

$transition-duration: 500ms;
$highlightTransitionEasing: cubic-bezier(.31,.09,.24,1);

.installments {
  border: ($grid * .2) solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  @include respond-to-wide {
    display: table;
    height: ($grid * 15);
    table-layout: fixed;
  }

  .installments__input {
    display: block;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  .installments__row {
    display: block;

    @include respond-to-wide {
      display: table-row;
    }
  }

  .installments__cell {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-top: ($grid * .2) solid $border-color;
    box-sizing: border-box;
    color: map-get($colors, black);
    cursor: pointer;
    display: block;
    padding-left: $grid * 0.4;
    padding-right: $grid * 0.4;
    position: relative;
    transition: border 0ms $transition-duration;

    &:first-of-type {
      border-top-width: 0px;
    }

    &.is-previously-selected,
    &.is-after-previously-selected {
      transition: border 0ms;
    }


    @include respond-to-wide {
      border-left: ($grid * .2) solid $border-color;
      border-top: 0;
      display: table-cell;
      height: 100%;
      text-align: center;
      vertical-align: middle;

      &:first-of-type {
        border-left-width: 0px;
      }
    }
  }

  .installments__cell__content {
    @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    display: block;
    line-height: ($grid * 8) - ($grid * .4);
    padding-left: ($grid * 4);

    @include respond-to-wide {
      @include typography(map-get($font-sizes, big-body-desktop), semi-bold);

      line-height: ($grid * 4);
      padding-left: 0;
    }
  }

  .installments__cell:hover,
  .installments__cell.is-focused {
    color: map-get($colors, klarna-blue);
  }

  .is-selected {
    border-top-color: transparent !important;

    @include respond-to-wide {
      border-left-color: transparent !important;
    }
  }

  .installments__cell__highlight {
    border: ($grid * .4) solid map-get($colors, klarna-blue);
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    left: -1px;
    opacity: 0;
    position: absolute;
    top: -1px;
    z-index: 5;

    @include respond-to-wide {
      height: ($grid * 15);
    }

    &.has-position {
      transition: transform $transition-duration $highlightTransitionEasing, height $transition-duration $highlightTransitionEasing, width $transition-duration $highlightTransitionEasing;
    }
  }

  .is-after-selected {
    border: 0;
    border-top: ($grid * .2) solid;
    border-top-color: transparent !important;

    @include respond-to-wide {
      border: 0;
      border-left: ($grid * .2) solid;
      border-left-color: transparent !important;
    }
  }
}
