@import '../../../css/settings';
@import '../../../css/mixins/index';

.page__template__icon {
  display: block;
  margin: 30px auto 0 auto;
}

.page__template__heading {
  margin-top: 30px;
}

.page__template__header {
  padding-bottom: 80px;
}

.page__template__menu__item {
  margin: 0 20px;
  display: inline-block;
}
