@import '../css/settings';
@import '../css/mixins/index';

.segmented-field__input {
  @include typography(map-get($font-sizes, segmented-field), semi-bold);

  border: ($grid * .2) solid map-get($colors, grey-lines);
  border-radius: $border-radius;
  box-sizing: border-box;
  display: block;
  height: ($grid * 12);
  text-align: center;
  transition: all .2s ease;
  width: 100%;

  &:hover {
    border-color: map-get($colors, blue-hover);
  }

  &:focus {
    outline: none;
    border-color: map-get($colors, blue-focus);
    box-shadow: 0 0 ($grid * .8) map-get($colors, blue-shadow);
    z-index: 20;
  }
}
//
// .segmented-field__input {
//   @include typography(map-get($font-sizes, segmented-field), semi-bold);
//
//   border: ($grid * .2) solid map-get($colors, grey-lines);
//   display: block;
//   float: left;
//   height: ($grid * 12);
//   margin: 0;
//   margin-left: ($grid * -.2);
//   position: relative;
//   text-align: center;
//   transition: all .2s ease;
//   width: ($grid * 9);
//
//   &:disabled {
//     cursor: pointer;
//   }
//
//   &:first-child {
//     border-top-left-radius: $border-radius;
//     border-bottom-left-radius: $border-radius;
//     margin-left: 0;
//   }
//
//   &:last-child {
//     border-top-right-radius: $border-radius;
//     border-bottom-right-radius: $border-radius;
//   }
//
//   &:focus {
//     outline: none;
//     border-color: map-get($colors, blue-focus);
//     box-shadow: 0 0 ($grid * .8) map-get($colors, blue-shadow);
//     z-index: 20;
//   }
// }
