@import '../../css/settings';
@import '../settings.scss';
@import '../../css/mixins/index';

.content {
  flex: 1;
  padding: 20px;

  @include respond-to-wide {
    padding: 90px;
  }
}

.pageNav {
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;

  a {
    padding: 10px;
  }
}

.designTitle {
  margin: 40px;
  text-align: center;
}

.variationTitle {
  margin-left: calc(39.4vw - 180px);

  &.wide {
    margin-left: calc(54.4vw - 180px);
  }
}


@media screen and (max-width: 1000px) {
  .variationTitle {
    margin: 0 auto;
    text-align: center;

    &.wide {
      margin: 0 auto;
    }
  }

  .designTitle {
    margin-bottom: 0px;
  }
}

// GettingStarted

.goals {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 2%;
    vertical-align: top;
    width: 29.3%;

    p {
      margin-top: 20px;
    }
  }
}
