@import '../../css/settings';
@import '../settings.scss';
@import '../../css/mixins/index';

.content {
  background-color: #fff;
  border-radius: 20px;
  flex: 1;
  margin: 30px;

  header {
    display: block;
    padding-bottom: 1px;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  @include respond-to-wide {
    padding: 60px;
  }
}

.pageNav {
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;

  a {
    padding: 10px;
  }
}

.designTitle {
  margin: 40px;
  text-align: center;
}

.variationTitle {
  margin-left: calc(39.4vw - 180px);

  &.wide {
    margin-left: calc(54.4vw - 180px);
  }
}

.section {
  width: auto;
}

@media screen and (max-width: 1025px) {
  .variationTitle {
    margin: 0 auto;
    text-align: center;

    &.wide {
      margin: 0 auto;
    }
  }

  .designTitle {
    margin-bottom: 0px;
  }
  .section {
    width: calc(100vw - 180px);
  }
}

@media screen and (max-width: 568px) {
  .section {
    width: calc(100vw - 40px);
  }
}

// GettingStarted

.goals {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding-top: ($grid * 4);
    vertical-align: top;
    width: 29.3%;

    p {
      margin-top: 20px;
    }

    svg {
      display: block;
      margin: 0 auto;
    }
  }
}
