@import '../../css/settings';
@import '../../css/mixins/index';

.page__icon {
  display: block;
  margin: 30px auto 0 auto;
}

.page__heading {
  margin-top: 30px;
}

.page__header {
  padding-bottom: 80px;
}

.page__menu__item {
  display: inline-block;
  margin: 0 20px;
}
