@import '../css/settings';
@import '../css/mixins/index';

.list--ordered {
  counter-reset: list__item;
  list-style: none;
  margin: 0;
  padding: ($grid * .6) 0 ($grid * .4) ($grid * 4);

  & > .list__item::before {
    content: counter(list__item) ".";
    counter-increment: list__item;
    display: block;
    left: ($grid * -4);
    position: absolute;
  }


  & > .list__item > .list__item__bullet--unordered {
    display: none;
  }

  & .list--ordered {
    counter-reset: list__alpha;

    & > .list__item::before {
      content: counter(list__alpha, lower-alpha) ".";
      counter-increment: list__alpha;
    }

    & .list--ordered {
      counter-reset: list__roman;

      & > .list__item::before {
        content: counter(list__roman, lower-roman) ".";
        counter-increment: list__roman;
      }
    }
  }
}

.list--unordered {
  list-style: none;
  margin: 0;
  padding: ($grid * .6) 0 ($grid * .4) ($grid * 4);

  & > .list__item > .list__item__bullet--unordered {
    background-color: currentColor;
    border-radius: ($grid * .8);
    display: block;
    height: ($grid * .8);
    left: ($grid * -4);
    position: absolute;
    top: ($grid * 2);
    width: ($grid * .8);
  }

  & > .list__item::before {
    display: none;
  }
}

.list__item {
  @include paragraph--primary;

  margin: 0;
  padding: 0;
  position: relative;
}
