@import '../../../css/settings';
@import '../../../css/mixins/index';

.page__content {
  background-color: #fff;
  border-radius: 20px;
  margin: 30px;
  width: calc(100vw - 60px);

  @include respond-to-wide {
    padding: 60px;
    width: calc(100vw - 360px);
  }
}
