@import '../css/settings';
@import '../css/mixins/index';

.field-tooltip__icon {
  margin-top: -($grid * 2);
  padding: 0 ($grid * 2);
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 50%;
  z-index: 3;
}

.field-tooltip__text {
  margin-right: 10px !important;
  position: absolute !important;
  transform: translateY(10px);
  transition: opacity .3s linear, transform .3s ease-out;
  -webkit-transition: opacity .3s linear, -webkit-transform .3s ease-out;
  -moz-transition: opacity .3s linear, -moz-transform .3s ease-out;
  z-index: 3;
}

.bottom-right {
  right: 0;
  top: -38px;
}

.top-right {
  bottom: -15px;
  right: 0;
}

.is-visible {
  opacity: 1;
}

.is-hidden {
  opacity: 0;
}
