@import '../css/settings';
@import '../css/mixins/index';

.icon-button {
  cursor: pointer;
  display: inline-block;
  height: ($grid * 4);
  overflow: visible;
  position: relative;
  width: ($grid * 4);

  .bg-wrapper {
    border-radius: 100%;
    border: ($grid * 2) solid transparent;
    left: 0;
    margin: -10px;
    position: absolute;
    top: 0;

    &:active {
      background: map-get($colors, blue-active-background);
      border-color: map-get($colors, blue-active-background);

      &.gray {
        background: map-get($colors, grey-active-background);
        border-color: map-get($colors, grey-active-background);
      }

      &.inverse {
        background: map-get($colors, klarna-blue-hover);
        border-color: map-get($colors, klarna-blue-hover);
      }
    }
  }

  .illustration {
    pointer-events: none;
    &.button {
      @include illustration(map-get($colors, klarna-blue));

      background: transparent;
      transition: stroke .2s ease, fill .2s ease, color .2s ease;

      &.gray {
        @include illustration(map-get($colors, grey-text));
      }

      &.inverse {
        @include illustration(map-get($colors, white));
      }
    }
  }

  &:hover {
    .illustration.button {
      @include illustration(map-get($colors, klarna-blue-hover));

      &.gray {
        @include illustration(map-get($colors, black));
      }

      &.inverse {
        @include illustration(map-get($colors, white));
      }
    }

    .illustration__label {
      color: map-get($colors, klarna-blue-hover);

      &.gray {
        color: map-get($colors, black);
      }

      &.inverse {
        color: map-get($colors, white);
      }
    }
  }
}

.illustration__label {
  @include typography(map-get($font-sizes, label-desktop), semi-bold);

  color: map-get($colors, klarna-blue);
  display: block;
  left: ($grid * 4);
  line-height: ($grid * 4);
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 0;
  transition: color .2s ease;
  user-select: none;
  white-space: nowrap;

  &.left {
    left: auto;
    right: ($grid * 4);
    text-align: right;
  }

  &.gray {
    color: map-get($colors, grey-text);
  }

  &.inverse {
    color: map-get($colors, white);
  }

  &--light {
    font-weight: map-get($font-weights, regular);
    text-transform: none;
  }
}
