@import '../../css/settings';
@import '../../css/mixins/index';

$highlightTransitionEasing: cubic-bezier(.31,.09,.24,1);

.box-selector--vertical {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.box-selector--vertical__cell__content {
  @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  display: block;
  line-height: ($grid * 5);
  padding-bottom: ($grid * 2.4);
  padding-left: ($grid * 4);
  padding-top: ($grid * 2.4);
}

.box-selector--vertical__cell.is-hovered,
.box-selector--vertical__cell.is-focused {
  color: map-get($colors, klarna-blue);
}

.box-selector--vertical__input {
  display: block;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.box-selector--vertical__row {
  display: block;
}

.box-selector--vertical__cell {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: ($grid * .2) solid $border-color;
  border-bottom: 0;
  box-sizing: border-box;
  color: map-get($colors, black);
  cursor: pointer;
  display: block;
  padding-left: $grid * 0.4;
  padding-right: $grid * 0.4;
  position: relative;
  transition: border-color .4s ease;

  &:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-of-type {
    border-bottom: ($grid * .2) solid $border-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.is-selected {
    border-bottom-color: transparent;
    border-top-color: transparent;
  }

  &.is-after-selected {
    border-top-color: transparent;
  }

  &.is-previously-selected,
  &.is-after-previously-selected {
    transition: border 0ms;
  }
}

.box-selector--vertical__cell__highlight {
  border: ($grid * .4) solid map-get($colors, klarna-blue);
  border-radius: 5px;
  bottom: -1px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  left: -1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: -1px;
  top: -1px;
  transition: opacity .4s ease;
  z-index: 5;

  .is-selected & {
    opacity: 1;
  }
}
