@import '../../css/settings';
@import '../../css/mixins/index';

.switch--checkbox {
  box-sizing: content-box;
  position: relative;

  &.is-disabled {
    opacity: .2;
  }
}

.switch--checkbox__input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.switch--checkbox__label {
  @include typography(map-get($font-sizes, big-body-mobile), regular);

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  display: block;
  line-height: ($grid * 4);
  padding-bottom: ($grid * 1.2);
  padding-left: ($grid * 6);
  padding-top: ($grid * 0.8);
  user-select: none;

  .right & {
    padding-left: auto;
    padding-right: ($grid * 6);
  }

  @include respond-to-wide {
    @include typography(map-get($font-sizes, big-body-desktop), regular);
  }

  .is-error & {
    color: map-get($colors, error);
  }

  .legal & {
    @include typography(map-get($font-sizes, legal-mobile), regular);

    @include respond-to-wide {
      @include typography(map-get($font-sizes, legal-desktop), regular);
    }
  }
}

.switch--checkbox__bullet {
  background: map-get($colors, white);
  border: ($grid * .2) solid map-get($colors, grey-lines);;
  border-radius: $border-radius-checkbox;
  cursor: pointer;
  height: ($grid * 2.4);
  left: 0;
  position: absolute;
  top: ($grid * 1.4);
  transition: background-color .2s ease, border-color .2s ease;
  width: ($grid * 2.4);

  .is-checked & {
    background: map-get($colors, klarna-blue);
    border-color: map-get($colors, klarna-blue);
  }

  .right & {
    left: auto;
    right: 0;
  }

  .switch--checkbox:not(.dynamic-styling):not(.is-disabled) .switch--checkbox__label:hover & {
    border-color: map-get($colors, blue-hover);
  }

  .is-focused:hover &,
  .is-focused & {
    border-color: map-get($colors, blue-focus);
    box-shadow: 0 0 ($grid * .8) map-get($colors, blue-shadow);
  }

  .switch--checkbox:not(.dynamic-styling).is-checked &,
  .switch--checkbox:not(.dynamic-styling).is-checked:hover & {
    border-color: map-get($colors, klarna-blue);
  }

  .switch--checkbox:not(.dynamic-styling).is-checked.is-focused:hover &,
  .is-checked.is-focused & {
    border-color: map-get($colors, klarna-blue);
    box-shadow: 0 0 ($grid * .8) map-get($colors, blue-shadow);
  }
}

.switch--checkbox__bullet__checkmark {
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  top: ($grid * 1.4);

  .is-checked & {
    opacity: 1;
  }

  .right & {
    left: auto;
    right: 0;
  }
}

.switch--checkbox__bullet__checkmark__stroke {
  stroke: map-get($colors, white);
  transition: opacity 0.2s ease;

  &.is-hidden {
    opacity: 0;
  }
}
