@import '../../css/settings';
@import '../../css/mixins/index';

.switch--checkbox {
    @include typography(($grid * 2.8), regular);
    @include switch(0);

    line-height: ($grid * 4);
    padding-bottom: ($grid * 1);
    padding-top: ($grid * 1);

    &.right {
        @include switch(0, right);
    }

    &.legal {
        @include typography(($grid * 2.2), regular);
        padding-bottom: ($grid * .8);
        padding-top: ($grid * 1.2);
    }

    @include respond-to-wide() {
        @include checkbox(($grid * 2), ($grid * 1.6));
    }
}
