@import '../../css/settings';
@import '../../css/mixins/index';

// SINGLE
.switch {
    @include typography(($grid * 2.8), regular);
    @include switch(0);

    line-height: ($grid * 4);
    padding-bottom: ($grid * 1);
    padding-top: ($grid * 1);

    &.right {
        @include switch(0, right);
    }

    &.checkbox {
        &.legal {
            @include typography(($grid * 2.2), regular);
            padding-bottom: ($grid * .8);
            padding-top: ($grid * 1.2);
        }

        @include respond-to-wide() {
            @include checkbox(($grid * 2), ($grid * 1.6));
        }
    }
}

// MULTIPLE
.switch--multiple {
    @include options(false);

    margin-bottom: ($grid * .6);
    padding: 0;
}

.switch--multiple__option {
    @include option();
    @include switch(($grid * 4), right);

    padding-left: ($grid * 4);
    padding-right: ($grid * 14);

    .checkbox & {
        @include respond-to-wide() {
            @include checkbox(($grid * 6), ($grid * 2.4));
        }
    }

    &:first-child {
        .checkbox & {
            @include respond-to-wide() {
                @include checkbox(($grid * 6), ($grid * 3.4));
            }
        }
    }


    &:last-child {
        .checkbox & {
            @include respond-to-wide() {
                @include checkbox(($grid * 6), ($grid * 2.4));
            }
        }
    }

    .borderless.checkbox & {
        &:first-child {
            @include respond-to-wide() {
                @include checkbox(($grid * 6), ($grid * 2.4));
            }
        }
    }

    .is-disabled.checkbox &.is-checked {
        @include respond-to-wide() {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &:hover {
                &::before {
                    background: map-get($colors, grey-lines);
                    border-color: map-get($colors, grey-lines);
                }
            }

            &::after {
                @include opacity(1);

                top: ($grid * 2.4);
            }

            &:first-child {
                &::after {
                    top: ($grid * 3.4);
                }
            }
        }
    }

    .is-disabled.borderless.checkbox & {
        &:first-child {
            @include respond-to-wide() {
                &::before {
                    background: map-get($colors, grey-lines);
                    border-color: map-get($colors, grey-lines);
                }

                &:first-child {
                    &::after {
                        top: ($grid * 2.4);
                    }
                }
            }
        }
    }

}

.switch--multiple__option__heading {
    @include typography(($grid * 2.8), semi-bold);
    line-height: ($grid * 4);
}

.switch--multiple__option__description {
    @include typography(($grid * 2.6), regular);
    color: map-get($colors, grey-text);
    line-height: ($grid * 4);

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}
