@import '../css/settings';
@import '../css/mixins/index';

.checklist {
  background: map-get($colors, light-grey);
  border-radius: $border-radius;
  line-height: ($grid * 4);
  margin: ($grid * -.2) 0 0 0;
  padding: ($grid * 2) ($grid * 4) ($grid * 2.8);
  position: relative;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.chromeless {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }

  &__title {
    @include subtitle;

    padding-top: ($grid * 1.2);
    text-align: center;
  }

  &__item {
    @include typography(map-get($font-sizes, main-body-mobile), regular);

    margin: 0;
    padding: ($grid * .2) 0 ($grid * .8) ($grid * 5);

    @include respond-to-wide {
      @include typography(map-get($font-sizes, main-body-desktop), regular);
    }

    .chromeless & {
      &:last-child {
        padding-bottom: ($grid * .4);
      }
    }
  }

  &__footer {
    @include typography(map-get($font-sizes, main-body-mobile), regular);
    @include respond-to-wide {
      @include typography(map-get($font-sizes, main-body-desktop), regular);
    }

    padding-bottom: $grid;
    padding-top: ($grid * 1.4);
    text-align: center;
  }

  &__checkmark {
    fill: none;
    height: ($grid * 4);
    margin-left: ($grid * -5);
    margin-right: ($grid);
    position: relative;
    stroke: map-get($colors, klarna-blue);
    stroke-linecap: round;
    stroke-width: 2;
    top: $grid;
    width: ($grid * 4);
  }

  &__bottom-decoration {
    background-color: map-get($colors, white);
    border: 1px solid map-get($colors, light-grey);;
    border-radius: 3px;
    bottom: -19px;
    display: block;
    padding: 7px;
    position: absolute;
    right: 20px;
  }
}

