@import '../css/settings';
@import '../css/mixins/index';

.checklist {
  border: ($grid * .2) solid map-get($colors, grey-lines);
  border-radius: $border-radius;
  line-height: ($grid * 4);
  list-style: none;
  margin: ($grid * -.2) 0 0 0;
  padding: ($grid * 2) ($grid * 4) ($grid * 1.8);

  &.chromeless {
    border: 0;
    margin: 0;
    padding: 0;
  }

  &__item {
    @include typography(map-get($font-sizes, main-body-mobile), regular);

    margin: 0;
    padding: 0 0 ($grid * .4) ($grid * 5);

    @include respond-to-wide {
      @include typography(map-get($font-sizes, main-body-desktop), regular);
    }

    .chromeless & {
      &:last-child {
        padding-bottom: ($grid * .4);
      }
    }
  }

  &__checkmark {
    fill: none;
    height: ($grid * 4);
    margin-left: ($grid * -5);
    margin-right: ($grid);
    position: relative;
    stroke: map-get($colors, klarna-blue);
    stroke-linecap: round;
    stroke-width: 2;
    top: $grid;
    width: ($grid * 4);
  }
}
