@import '../css/settings';
@import '../css/mixins/index';

.fieldset {
  border-radius: 5px;
  position: relative;

  &.default-margins {
    padding-bottom: ($grid * 5);
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}
