@import '../css/settings';
@import '../css/mixins/index';

.fieldset {
    padding-bottom: ($grid * 5);
    position: relative;

    &::after {
        clear: both;
        content: '';
        display: block;
    }
}
