@mixin alert ($background, $border, $color) {
    @include typography(($grid * 2.6), regular);

    background-color: $background;
    border: 1px solid $border;
    border-radius: $border-radius;
    color: $color;
    display: inline-block;
    padding: ($grid * 4);
    text-align: center;
}

@mixin alert__title {
    @include typography(($grid * 2.8), semi-bold);

    line-height: ($grid * 3);
    margin: 0;
    padding: ($grid * .4) 0 ($grid * .6);
}

@mixin alert__paragraph {
    @include paragraph--primary-condensed;

    color: inherit;
    margin: 0;
    padding: ($grid * .6) 0 ($grid * .4);
}
