@mixin alert ($background, $border, $color) {
  @include typography(map-get($font-sizes, main-body-mobile), regular);

  background-color: $background;
  border: 1px solid $border;
  border-radius: $border-radius;
  color: $color;
  display: inline-block;
  padding: ($grid * 4);
  text-align: center;

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }
}

@mixin alert__title {
  @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

  line-height: ($grid * 3);
  margin: 0;
  padding: ($grid * .4) 0 ($grid * .6);

  @include respond-to-wide {
    @include typography(map-get($font-sizes, big-body-desktop), semi-bold);
  }
}

@mixin alert__paragraph {
  @include paragraph--primary-condensed;

  color: inherit;
  margin: 0;
  padding: ($grid * .6) 0 ($grid * .4);
}
