@mixin checkbox($padding: $grid * 6, $top: 0) {
    padding-left: $padding + ($grid * 4);
    padding-right: $padding;
    position: relative;

    &:hover:not(.dynamic-styling) {
        .switch--checkbox__bullet {
            border-color: map-get($colors, blue-hover);
        }

        .is-disabled &,
        &.is-disabled {
            .switch--checkbox__bullet {
                border-color: $border-color;
            }
        }
    }

    &.is-pressed {
        .switch--checkbox__bullet__checkmark {
            left: $padding - ($grid * 2);
            width: ($grid * 2.8);
        }
    }

    &.is-checked {
        .switch--checkbox__bullet {
            background: map-get($colors, klarna-blue);
            border-color: map-get($colors, klarna-blue);
        }

        .switch--checkbox__bullet__checkmark {
            @include opacity(1);

            top: $top;
        }

        &.is-disabled {
            .switch--checkbox__bullet {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            .switch--checkbox__bullet__checkmark {
                @include opacity(1);

                top: $top;
            }
        }
    }

    .switch--checkbox__bullet__checkmark__stroke {
      stroke: map-get($colors, white);
    }

    .switch--checkbox__bullet {
        -webkit-transition: all .2s ease;
        background: white;
        border: $grid * .2 solid $border-color;
        border-radius: $border-radius-checkbox;
        box-sizing: border-box;
        display: block;
        height: $grid * 2.8;
        left: $padding - ($grid * 2);
        position: absolute;
        top: $top;
        transform: translateY(0);
        -ms-transform: translateY(0);
        transition: all .2s ease;
        width: ($grid * 2.8);

        .switch--checkbox:hover & {
            border-color: map-get($colors, klarna-blue);
        }
    }

    .switch--checkbox__bullet__checkmark {
        background: none;
        border: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        top: $top + ($grid * 4);
    }

    &.is-pressed.is-checked {
        .switch--checkbox__bullet__checkmark {
            left: 0;
        }
    }

    &.is-checked {
        .switch--checkbox__bullet__checkmark {
            left: 0;
            opacity: 1;
            top: $top + ($grid * 1.8);
        }
    }
}
