@mixin checkbox($padding: $grid * 6, $top: 0) {
    padding-left: $padding + ($grid * 4);
    padding-right: $padding;
    position: relative;

    &::before {
        background: white;
        border: $grid * .2 solid $border-color;
        border-radius: $border-radius-checkbox;
        box-sizing: border-box;
        content: '';
        display: block;
        height: $grid * 2.8;
        left: $padding - ($grid * 2);
        position: absolute;
        top: $top;
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: ($grid * 2.8);
    }

    &::after {
        @include opacity(0);

        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC03MjAsIC0xNTA4KSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzAwLCAxNDU3KSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwgMzMpIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMCwgMTQpIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLCA0KSI+PGc+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiByeD0iMiI+PC9yZWN0PjxwYXRoIGQ9Ik0zLjgsNi42NzU4MzM2MSBMNi40MDQ4NDQ4Myw5LjU5ODI4MjQgTDEwLjcyNzk1MTcsNC4yIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48L2c+PC9nPjwvZz48L2c+PC9nPjwvZz48L2c+PC9zdmc+');
        content: '';
        display: block;
        height: ($grid * 2.8);
        left: $padding - ($grid * 2);
        position: absolute;
        top: ($grid * 6);
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: ($grid * 2.8);
    }

    &:hover {
        &::before {
            border-color: map-get($colors, blue-hover);
        }

        .is-disabled &,
        &.is-disabled {
            &::before {
                border-color: $border-color;
            }
        }
    }

    &.is-pressed {
        &::after {
            left: $padding - ($grid * 2);
            width: ($grid * 2.8);
        }
    }

    &.is-checked {
        &::before {
            background: map-get($colors, klarna-blue);
            border-color: map-get($colors, klarna-blue);
        }

        &::after {
            @include opacity(1);

            top: $top;
        }

        &.is-disabled {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &::after {
                @include opacity(1);

                top: $top;
            }
        }
    }

    &.dynamic-styling {
        &:before {
            opacity: 1;
        }

        &:after {
            opacity: 0;
        }
        &:hover {
            &::before {
                border-color: $border-color;
            }
        }

        .switch__bullet {
            -webkit-transition: all .2s ease;
            background: white;
            border: $grid * .2 solid $border-color;
            border-radius: $border-radius-checkbox;
            box-sizing: border-box;
            content: '';
            display: block;
            height: $grid * 2.8;
            left: $padding - ($grid * 2);
            position: absolute;
            top: $top;
            transform: translateY(0);
            -ms-transform: translateY(0);
            transition: all .2s ease;
            width: ($grid * 2.8);
        }

        .switch__bullet__checkmark {
            background: none;
            left: 0;
            opacity: 0;
            position: absolute;
            top: $top + ($grid * 4);
        }

        &.is-pressed {
            .switch__bullet__checkmark {
                left: 0;
            }
        }

        &.is-checked {
            .switch__bullet__checkmark {
                @include opacity(1);
                left: 0;
                top: $top + ($grid * 1.8);
            }
        }

        &.switch--multiple__option {
            .switch__bullet__checkmark {
                left: ($grid * 4);
                top: $top + ($grid * 4);
            }

            &.is-checked {
                .switch__bullet__checkmark {
                    left: ($grid * 4);
                    top: $top + ($grid * 1.4);
                }
            }
        }
    }
}
