@mixin dialog ($color: map-get($colors, white)) {
    background: $color;
    box-sizing: border-box;
    display: table;
    height: 100%;
    padding: ($grid * 4);
    transform: translateY(($grid * 10));
    -ms-transform: translateY(($grid * 10));
    transition: transform 0.3s ease;
    width: 100%;

    @include respond-to-wide ($mobile-narrow-max-width) {
        padding: ($grid * 6);
    }

    @include respond-to-wide {
        border-radius: ($grid * 1.6);
        height: auto;
        margin: ($grid * 6) auto;
        padding: ($grid * 12);
        text-align: left; // override dialog__wrapper text-align
        width: ($grid * 87);
    }

    .wide & {
        @include respond-to-wide {
            width: ($grid * 108);
        }
    }

    .is-visible & {
        transform: translateY(0);
        -ms-transform: translateY(0);
    }
}

@mixin dialog__icon {
    display: block;
    position: absolute;
    right: ($grid * 4);
    top: ($grid * 4);

    @include respond-to-wide ($mobile-narrow-max-width) {
        right: ($grid * 6);
        top: ($grid * 6);
    }

    @include respond-to-wide {
        right: ($grid * 4);
        top: ($grid * 4);
    }
}

@mixin dialog__content {
    display: table-row;

    &--inner {
        display: table-cell;
        height: 100%;
        vertical-align: middle;

        & > .cui__title--primary:first-child {
            margin-top: ($grid * -2);
            padding-top: ($grid * .6);
        }
    }

    @include respond-to-wide {
        display: block;

        &--inner {
            display: block;
        }
    }
}

@mixin dialog__footer {
    display: table-row;

    &--inner {
        display: table-cell;
    }

    @include respond-to-wide {
        display: block;

        &--inner {
            display: block;
        }
    }
}

@mixin dialog__cell {
    height: 100%;
    width: 100%;

    @include respond-to-wide {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

@mixin dialog__table {
    height: 100%;
    width: 100%;

    @include respond-to-wide {
        display: table;
    }
}

@mixin dialog__overlay {
    -webkit-overflow-scrolling: touch;
    background: transparentize(map-get($colors, black), .2);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: -1;

    &.is-visible {
        opacity: 1;
        z-index: 100;
    }
}
