@mixin radio() {
    &::before {
        background: white;
        border: ($grid * .2) solid $border-color;
        border-radius: ($grid * 2.8);
        box-sizing: border-box;
        content: '';
        display: block;
        height: ($grid * 2.8);
        left: ($grid * 4);
        position: absolute;
        top: ($grid * 2.4);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: ($grid * 2.8);
    }

    &::after {
        @include opacity(0);

        background: white;
        border-radius: ($grid * 1.2);
        content: '';
        display: block;
        height: ($grid * .8);
        left: ($grid * 5);
        position: absolute;
        top: ($grid * 3.4);
        transform: scale(3, 3);
        -ms-transform: scale(3, 3);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: ($grid * .8);
    }

    &:first-child {
        &::before {
            top: ($grid * 3.4);
        }

        &::after {
            top: ($grid * 4.4);
        }
    }

    .dynamic-styling & {
        &:after {
            display: block;
            z-index: 10;
        }

        &:before {
            display: block;
            z-index: 10;
        }

        .dropdown--radio__option__bullet {
            background: white;
            border: ($grid * .2) solid $border-color;
            border-radius: ($grid * 2.8);
            box-sizing: border-box;
            content: '';
            display: block;
            height: ($grid * 2.8);
            left: ($grid * 4);
            position: absolute;
            top: ($grid * 2.4);
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            width: ($grid * 2.8);
        }

        .dropdown--radio__option__bullet__checkmark {
            @include opacity(0);

            background: white;
            border-radius: ($grid * 1.2);
            content: '';
            display: block;
            height: ($grid * .8);
            left: ($grid * 5);
            position: absolute;
            top: ($grid * 3.4);
            transform: scale(3, 3);
            -ms-transform: scale(3, 3);
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            width: ($grid * .8);
            z-index: 10;
        }

        &:first-child {
            .dropdown--radio__option__bullet {
                top: ($grid * 3.4);
            }

            .dropdown--radio__option__bullet__checkmark {
                top: ($grid * 4.4);
            }
        }
    }

    &.is-selected {
        &::before {
            background: map-get($colors, klarna-blue);
            border-color: map-get($colors, klarna-blue);
        }

        &::after {
            @include opacity(1);

            top: ($grid * 3.4);
            transform: scale(1, 1);
            -ms-transform: scale(1, 1);
        }

        &:first-child {
            &::after {
                top: ($grid * 4.4);
            }

            .dropdown--radio__option__bullet__checkmark {
                top: ($grid * 4.4);
            }
        }

        .dynamic-styling & {
            &:before, &:after {
                opacity: 0;
            }

            .dropdown--radio__option__bullet__checkmark {
                opacity: 1;
                top: ($grid * 3.4);
                transform: scale(1, 1);
            }

            &:first-child {
                .dropdown--radio__option__bullet__checkmark {
                    top: ($grid * 4.4);
                }
            }
        }

        .is-disabled & {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &::after {
                @include opacity(1);

                top: ($grid * 3.4);
            }

            &:first-child::after {
                @include opacity(1);

                top: ($grid * 4.4);
            }
        }
    }

    .borderless & {
        &:first-child {
            &::before {
                top: ($grid * 2.4);
            }

            &::after {
                top: ($grid * 3.4);
            }
        }

    }
}
