@mixin switch($padding: ($grid * 4), $side: left) {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    @if $side == left {
        padding-left: $padding + ($grid * 10);
    } @else {
        padding-left: $padding;
        padding-right: $padding + ($grid * 10);
    }

    &::before {
        background: map-get($colors, grey-text);
        border-radius: ($grid * 4);
        content: '';
        display: block;
        height: ($grid * 4.4);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: ($grid * 7.4);

        @if $side == left {
            left: 0;
        } @else {
            left: auto;
            right: ($grid * 4);
        }
    }

    &::after {
        @include opacity(1);

        background: white;
        border-radius: ($grid * 5);
        content: '';
        display: block;
        height: ($grid * 4);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: ($grid * 4);

        @if $side == left {
            left: ($grid * .2);
        } @else {
            left: auto;
            right: ($grid * 7.2);
        }
    }

    &.is-error {
        color: map-get($colors, error);
    }

    &.is-pressed {
        &::after {
            width: ($grid * 5);

            @if $side == left {
            } @else {
                left: auto;
                right: ($grid * 6.2);
            }
        }
    }

    .is-disabled &,
    &.is-disabled {
        color: map-get($colors, grey-lines);

        &::before {
            background: map-get($colors, grey-lines);
            border-color: map-get($colors, grey-lines);
        }
    }

    &.is-checked {
        &::before {
            background: map-get($colors, klarna-blue);
            border-color: map-get($colors, klarna-blue);
        }

        &::after {
            @include opacity(1);

            @if $side == left {
                left: ($grid * 3.2);
            } @else {
                left: auto;
                right: ($grid * 4.2);
            }
        }

        &.is-pressed {
            &::after {
                @if $side == left {
                    left: ($grid * 2.2);
                } @else {
                    left: auto;
                    right: ($grid * 4.2);
                }
            }
        }

        .is-disabled &,
        &.is-disabled {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &::after {
                @include opacity(1);
            }
        }
    }

    &.dynamic-styling {
        &:after {
            opacity: 0;
        }

        .switch__bullet {
            background: map-get($colors, grey-text);
            border-radius: ($grid * 4);
            content: '';
            display: block;
            height: ($grid * 4.4);
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            width: ($grid * 7.4);

            @if $side == left {
                left: 0;
            } @else {
                left: auto;
                right: ($grid * 4);
            }
        }

        .switch__bullet__checkmark {
            @include opacity(1);

            background: white;
            border-radius: ($grid * 5);
            content: '';
            display: block;
            height: ($grid * 4);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            width: ($grid * 4);

            @if $side == left {
                left: ($grid * .2);
            } @else {
                left: auto;
                right: ($grid * 7.2);
            }
        }

        &.is-pressed {
            .switch__bullet__checkmark {
                width: ($grid * 5);

                @if $side == left {
                } @else {
                    left: auto;
                    right: ($grid * 6.2);
                }
            }
        }

        &.is-checked {
            &::before {
                background: map-get($colors, grey-text);
                border-color: map-get($colors, grey-text);
            }

            .switch__bullet__checkmark {
                @include opacity(1);

                @if $side == left {
                    left: ($grid * 3.2);
                } @else {
                    left: auto;
                    right: ($grid * 4.2);
                }
            }

            .switch__bullet {
                opacity: 1;
            }

            &.is-pressed {
                .switch__bullet__checkmark {
                    @if $side == left {
                        left: ($grid * 2.2);
                    } @else {
                        left: auto;
                        right: ($grid * 4.2);
                    }
                }
            }
        }
    }
}
