@mixin palette-colors ($default-color: map-get($colors, black)) {
  color: $default-color;

  &.black {
    color: map-get($colors, black);
  }

  &.blue {
    color: map-get($colors, klarna-blue);
  }

  &.white,
  &.inverse {
    color: map-get($colors, white);
  }

  &.gray {
    color: map-get($colors, grey-lines);
  }

  &.error {
    color: map-get($colors, error);
  }

  &.success {
    color: map-get($colors, green);
  }

  &.warning {
    color: map-get($colors, warning);
  }
}

@mixin title--primary {
  @include typography(map-get($font-sizes, title-primary-desktop), light);
  @include palette-colors();

  line-height: ($grid * 7);
  margin: 0;
  padding: ($grid * .4) 0 ($grid * .6);

  &.small {
    @include typography(map-get($font-sizes, title-primary-small-desktop), light);

    padding: ($grid * .6) 0 ($grid * .4);

    &.strong {
      @include typography(map-get($font-sizes, title-primary-small-desktop), regular);
    }
  }

  &.default-margins {
    padding: ($grid * 3.6) 0 ($grid * 3.4);

    &.small {
      padding: ($grid * 3.8) 0 ($grid * 3.2);
    }
  }
}

@mixin title--secondary {
  @include typography(map-get($font-sizes, title-secondary-mobile), semi-bold);
  @include palette-colors();

  line-height: ($grid * 3);
  margin: 0;
  padding: ($grid * .4) 0 ($grid * .6);

  @include respond-to-wide {
    @include typography(map-get($font-sizes, title-secondary-desktop), semi-bold);
  }

  &.condensed {
    padding: ($grid * .4) 0 ($grid * 1.6);
  }

  &.default-margins {
    padding: ($grid * 4.4) 0 ($grid * 2.6);

    &.condensed {
      padding: ($grid * .4) 0 ($grid * 1.6);
    }
  }
}

@mixin subtitle {
  @include typography(map-get($font-sizes, subtitle), semi-bold);
  @include palette-colors();

  height: ($grid * 4);
  line-height: ($grid * 4);
  margin: 0;
  padding: ($grid * .2) 0 ($grid * .8);
  text-transform: uppercase;

  &.condensed {
    padding: ($grid * .2) 0 ($grid * 1.8);
  }

  &.default-margins {
    padding: ($grid * 3.2) 0 ($grid * 1.8);
  }
}

@mixin paragraph {
  line-height: ($grid * 5);
  margin: 0;
  padding: ($grid * .6) 0 ($grid * .4);

  &.default-margins {
    padding: ($grid * .6) 0 ($grid * 3.4);
  }
}

@mixin paragraph-condensed {
  line-height: ($grid * 4);
  padding-bottom: ($grid * 3);
  padding-top: 0;
}

@mixin paragraph--primary {
  @include paragraph;
  @include typography(map-get($font-sizes, main-body-mobile), regular);
  @include palette-colors();

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }
}

@mixin paragraph--primary-condensed {
  @include paragraph-condensed;
  @include typography(map-get($font-sizes, main-body-mobile), regular);
  @include palette-colors();

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }
}

@mixin paragraph--secondary {
  @include paragraph;
  @include typography(map-get($font-sizes, main-body-mobile), regular);
  @include palette-colors(map-get($colors, grey-text));

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }
}

@mixin paragraph--secondary-condensed {
  @include paragraph-condensed;
  @include typography(map-get($font-sizes, main-body-mobile), regular);
  @include palette-colors(map-get($colors, grey-text));

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }
}

@mixin paragraph--legal {
  @include typography(map-get($font-sizes, legal-mobile), regular);
  @include palette-colors(map-get($colors, grey-text));

  line-height: ($grid * 4);
  margin: 0;
  padding: ($grid * .2) 0 ($grid * .8);

  @include respond-to-wide {
    @include typography(map-get($font-sizes, legal-desktop), regular);
  }

  &.default-margins {
    padding: ($grid * .2) 0 ($grid * 2.8);
  }
}

@mixin promo-label {
  @include typography(map-get($font-sizes, promo-label), semi-bold);

  background: map-get($colors, klarna-blue);
  border-radius: $border-radius;
  bottom: ($grid * .2);
  color: white;
  display: inline-block;
  left: ($grid * .8);
  line-height: ($grid * 3);
  padding: 0 ($grid * 1);
  position: relative;
  text-transform: uppercase;

  .is-disabled & {
    background: map-get($colors, grey-lines);
  }
}

@mixin text-label {
  @include typography(map-get($font-sizes, text-label), regular);

  @include palette-colors(map-get($colors, grey-text));
  line-height: ($grid * 3);
  margin: 0;
  padding: ($grid * .6) 0 ($grid * .4);

  &.default-margins {
    padding: ($grid * 1.6) 0 ($grid * .4);
  }
}

@mixin amount-text {
  @include typography(map-get($font-sizes, amount-text), light);
  @include palette-colors();

  line-height: ($grid * 10);
  margin: 0;
  padding: ($grid * 1.2) 0 ($grid * .8);
}
