@import '../../css/settings';
@import '../../css/mixins/index';

.confirm--data__content {
  margin-bottom: ($grid * 11);
  margin-top: ($grid * 6);
}

.confirm--data__value {
  letter-spacing: ($grid * .2);
}
