@import '../css/settings';
@import '../css/mixins/index';

.preview {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: ($grid * .2) solid map-get($colors, grey-lines);
  border-radius: $border-radius;
  box-sizing: border-box;
  margin-bottom: ($grid * 5);
  padding: ($grid * 2.8) ($grid * 4);

  &.has-link {
    cursor: pointer;
    transition: border-color .2s ease;

    &:hover {
      border-color: map-get($colors, blue-hover);
    }
  }

  &.dynamic-styling {
    border: ($grid * .2) solid transparent;
    position: relative;

    &.has-link {
      &:hover {
        border: ($grid * .2) solid transparent;
      }
    }
  }
}

.preview__title {
  @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

  line-height: ($grid * 3);
  margin: 0;
  padding: ($grid * .4) 0 ($grid * .6);

  @include respond-to-wide {
    @include typography(map-get($font-sizes, big-body-desktop), semi-bold);
  }
}

.preview__content {
  @include paragraph--primary-condensed;

  margin: 0;
  padding: 0;
}

.preview__footer {
  display: block;
  margin-bottom: ($grid * -5);
  text-align: center;
}

.preview__footer__link {
  @include typography(map-get($font-sizes, main-body-mobile), regular);
  @include palette-colors(map-get($colors, klarna-blue));

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: white;
  cursor: pointer;
  display: inline-block;
  line-height: ($grid * 4.4);
  margin: 0 auto;
  padding: ($grid * 1) ($grid * 1) 0 ($grid * 1);
  text-decoration: none;
  transition: color .2s ease;

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }

  &:hover {
    color: map-get($colors, link-blue-hover);

    &.black {
      color: map-get($colors, black);
    }

    &.white {
      color: map-get($colors, white);
    }
  }

  &.dynamic-styling {
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

.preview__border {
  border: ($grid * .2) solid map-get($colors, grey-lines);
  border-radius: $border-radius;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: ($grid * -.2) 0 0 ($grid * -.2);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.preview__border--selected {
  border: ($grid * .2) solid map-get($colors, grey-lines);
  border-radius: $border-radius;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: ($grid * -.2) 0 0 ($grid * -.2);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s ease;
  width: 100%;
  z-index: -1;

  .preview.dynamic-styling:hover & {
    opacity: 1;
  }
}
