@import '../css/settings';
@import '../css/mixins/index';

.radio {
    @include options();
}

.radio__option {
    @include option();
    @include radio();

    padding-left: ($grid * 10);
    padding-right: ($grid * 4);
}

.radio__option__heading {
    @include typography(($grid * 2.8), semi-bold);
    display: block;
    line-height: ($grid * 4);
}

.radio__option__description {
    @include typography(($grid * 2.6), regular);
    color: map-get($colors, grey-text);
    line-height: ($grid * 4);

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}
