@import '../css/settings';
@import '../css/mixins/index';

.radio {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: ($grid * .2) solid $border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin-bottom: ($grid * .6);
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all .2s ease;

  &.is-focused {
    border-color: map-get($colors, klarna-blue);
  }

  &.borderless {
    border: 0;
    padding-bottom: $grid * .2;
    padding-top: $grid * .2;
  }

  &.is-disabled {
    background: #fafafa;
    color: map-get($colors, grey-lines);
    cursor: default;
    pointer-events: none;

    &:hover {
      border-color: $border-color;
    }
  }
}

.radio__option__content {
  padding-bottom: ($grid * 4);
}

.radio__option {
  border-bottom: ($grid * .2) solid $border-color-inner;
  cursor: pointer;
  display: block;
  margin-top: ($grid * -.2);
  overflow: hidden;
  padding-left: ($grid * 4);
  padding-right: ($grid * 4);
  padding-top: ($grid * 4);
  position: relative;
  transition: all .2s ease;
  user-select: none;

  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    margin-top: 0;
  }

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .borderless & {
    border-bottom: none;
    border-radius: $border-radius;
    margin-top: 0;
  }
}

.radio__option__header {
  display: table;
  margin-bottom: ($grid * 4);
}

.radio__option__inner {
  display: table-row;
}

.radio__option__left {
  display: table-cell;
  padding-right: ($grid * 3);
  vertical-align: middle;
}

.radio__option__right {
  display: table-cell;
}

.radio__option__wrapper {
  position: relative;
}

.radio__option__input {
  display: block;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.radio__option__bullet {
  background: white;
  border: ($grid * .2) solid $border-color;
  border-radius: ($grid * 2.8);
  box-sizing: border-box;
  display: block;
  height: ($grid * 2.8);
  transition: all .2s ease;
  width: ($grid * 2.8);

  .radio__option__input:checked + .radio__option & {
    background: map-get($colors, klarna-blue);
    border-color: map-get($colors, klarna-blue);

    .is-disabled & {
      background: map-get($colors, grey-lines);
      border-color: map-get($colors, grey-lines);
    }
  }
}

.radio__option__checkmark {
  background: white;
  border-radius: ($grid * 1.2);
  content: '';
  display: block;
  height: ($grid * .8);
  left: ($grid * 1);
  opacity: 0;
  position: absolute;
  top: ($grid * 1);
  transform: scale(3, 3);
  transition: all .2s ease;
  width: ($grid * .8);

  .radio__option__input:checked + .radio__option & {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.radio__option__label {
  @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

  display: block;
  line-height: ($grid * 4);

  @include respond-to-wide {
    @include typography(map-get($font-sizes, big-body-desktop), semi-bold);
  }
}

.radio__option__description {
  @include typography(map-get($font-sizes, main-body-mobile), regular);
  color: map-get($colors, grey-text);
  line-height: ($grid * 4);

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }

  .is-disabled & {
    color: map-get($colors, grey-lines);
  }
}
