@import '../../css/settings';
@import '../../css/mixins/index';

.selector--direct__item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-bottom: ($grid * .2) solid map-get($colors, grey-selector-lines);
  border-top: ($grid * .2) solid map-get($colors, grey-selector-lines);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin: ($grid * -.2) 0 0 0;
  padding: ($grid * 3.2) 0 ($grid * 3.6) 0;
  position: relative;
  text-decoration: none;

  &::before {
    border-bottom: ($grid * .2) solid transparent;
    border-top: ($grid * .2) solid transparent;
    bottom: ($grid * -.2);
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: ($grid * -.2);
    transition: border-color .2s ease;
    z-index: 10;
  }

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus,
  &:active,
  .selector--direct__input:checked + & {
    &::before {
      border-bottom: ($grid * .2) solid map-get($colors, blue-hover);
      border-top: ($grid * .2) solid map-get($colors, blue-hover);
      bottom: ($grid * -.2);
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: ($grid * -.2);
      z-index: 10;
    }
  }

  &:first-child {
    margin: 0;
  }

  &:last-child {
    margin-bottom: ($grid * -.2);
  }

  .selector--direct:not(.title) & {
    &:first-child {
      border-top: ($grid * .2) solid transparent;

      &:hover {
        &::before {
          border-top: ($grid * .2) solid transparent;
        }
      }
    }

    &:last-child {
      border-bottom: ($grid * .2) solid transparent;

      &:hover {
        &::before {
          border-bottom: ($grid * .2) solid transparent;
        }
      }
    }
  }
}

.selector--direct__label {
  @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

  color: map-get($colors, black);
  display: block;

  @include respond-to-wide {
    @include typography(map-get($font-sizes, big-body-desktop), semi-bold);
  }
}

.selector--direct__value {
  @include typography(map-get($font-sizes, main-body-mobile), regular);

  color: map-get($colors, klarna-blue);
  position: absolute;
  right: ($grid * 5);
  top: ($grid * 3.4);

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }
}

.selector--direct__icon {
  height: ($grid * 4);
  margin-top: ($grid * -2);
  position: absolute;
  right: ($grid * -1);
  top: 50%;
  width: ($grid * 4);
}

.selector--direct__input {
  display: block;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.selector--direct__description {
  @include typography(map-get($font-sizes, main-body-mobile), regular);

  color: map-get($colors, grey-text);
  line-height: ($grid * 4);
  margin: $grid 0 0;
  width: 60%;

  @include respond-to-wide {
    @include typography(map-get($font-sizes, main-body-desktop), regular);
  }

  .promo-label:first-child {
    left: 0;
  }
}

.selector--direct__description + .selector--direct__description {
  margin: ($grid * 1) 0 ($grid * .4) 0;
}

.selector--direct__title {
  @include subtitle;
  margin-bottom: ($grid * 1.2);
}
