@import '../../../css/settings';
@import '../../../css/mixins/index';

.chrome--centered {
  text-align: center;
}

.chrome--centered__title:not(:first-child) {
  padding-top: ($grid * 5.2);
}

.chrome--centered__title {
  display: block;
  margin: 0 auto;
  max-width: ($grid * 63);
}

.chrome--centered__title + .chrome--centered__paragraph--primary {
  padding-top: ($grid * 1.4);
}

.chrome--centered__button--accept {
  display: block;
  margin-bottom: ($grid * 3);
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.chrome--centered__button--cancel {
  font-weight: map-get($font-weights, semi-bold);
}

.chrome--centered__paragraph--primary + .chrome--centered__button--accept {
  margin-top: ($grid * 6.2);
}

.chrome--centered__paragraph--legal {
  padding-top: ($grid * 6.2);
}

.chrome--centered__button--accept + .chrome--centered__error {
  padding-top: ($grid * 1.4);
}

.chrome--centered__error__icon {
  display: inline-block;
  margin-right: ($grid * 1);
  position: relative;
  top: ($grid * 1);
}

.chrome--centered__error__paragraph {
  display: inline-block;
}
