@import '../../../css/settings';
@import '../../../css/mixins/index';

.chrome--centered {
  text-align: center;
  padding: 0;
}

.chrome--centered__title:not(:first-child) {
  padding-top: ($grid * 7.2);
}

.chrome--centered__title + .chrome--centered__paragraph--primary {
  padding-top: ($grid * 2.4);
}

.chrome--centered__button--accept {
  display: block;
  margin-bottom: ($grid * 3);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.chrome--centered__button--cancel {
  font-weight: map-get($font-weights, semi-bold);
}

.chrome--centered__paragraph--primary + .chrome--centered__button--accept {
  margin-top: ($grid * 8.2);
}

.chrome--centered__paragraph--legal {
  padding-top: ($grid * 6.2);
}
