@import '../../css/settings';
@import '../../css/mixins/index';

$transition-duration: 500ms;
$highlightTransitionEasing: cubic-bezier(.31,.09,.24,1);

.installments--vertical {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  .installments--vertical__input {
    display: block;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  .installments--vertical__row {
    display: block;
  }

  .installments--vertical__cell {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: ($grid * .2) solid $border-color;
    border-bottom: 0;
    box-sizing: border-box;
    color: map-get($colors, black);
    cursor: pointer;
    display: block;
    padding-left: $grid * 0.4;
    padding-right: $grid * 0.4;
    position: relative;
    transition: border 0ms $transition-duration;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-of-type {
      border-bottom: ($grid * .2) solid $border-color;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.is-previously-selected,
    &.is-after-previously-selected {
      transition: border 0ms;
    }
  }

  .installments--vertical__cell__content {
    @include typography(map-get($font-sizes, big-body-mobile), semi-bold);

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    display: block;
    line-height: ($grid * 5);
    padding-bottom: ($grid * 2.4);
    padding-left: ($grid * 4);
    padding-top: ($grid * 2.4);
  }

  .installments--vertical__cell.is-hovered,
  .installments--vertical__cell.is-focused {
    color: map-get($colors, klarna-blue);
  }

  .is-selected {
    border-bottom-color: transparent;
    border-top-color: transparent;
  }

  .installments--vertical__cell__highlight {
    border: ($grid * .4) solid map-get($colors, klarna-blue);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    left: -1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1px;
    z-index: 5;

    &.has-position {
      transition: transform $transition-duration $highlightTransitionEasing, height $transition-duration $highlightTransitionEasing, width $transition-duration $highlightTransitionEasing;
    }
  }

  .is-after-selected {
    border-top-color: transparent;
  }
}
