@import '../css/settings';
@import '../css/mixins/index';

.banner {
  border-radius: 0 0 $grid $grid;
  color: map-get($colors, grey-text);
  line-height: ($grid * 3.8);
  padding: ($grid * 3) 0;
  position: relative;
}

.banner__link,
.banner__alt-link {
  @include typography(map-get($font-sizes, main-body-mobile), regular);
  cursor: pointer;
  vertical-align: bottom;
}

.banner__link {
  position: absolute;
  right: 0;
}

.banner__alt-link {
  margin-left: ($grid * 2);
}
