@import '../css/settings';
@import '../css/mixins/index';

.banner {
  background-color: map-get($colors, light-grey);
  color: map-get($colors, grey-text);
  line-height: ($grid * 3.8);
  padding: ($grid * 4) ($grid * 3) ($grid * 3) ($grid * 3);
  margin-top: ($grid * -1);
}

.banner__link,
.banner__alt-link {
  cursor: pointer;
  font-size: ($grid * 2.4);
  vertical-align: bottom;
}

.banner__link {
  float: right;
}

.banner__alt-link {
  margin-left: ($grid * 2);
}
