.footer {
  display: block;
  margin: 0 60px;
  width: calc(100% - 120px);
}

.footer__copyright {
  display: block;
  float: left;
  overflow: hidden;
}

.footer__K {
  display: block;
  float: left;
  height: 31px;
  width: 23px;
}

.footer__get-in-touch {
  display: block;
  float: right;
  margin-top: -4px;
  min-width: 20vw;
}

.footer__copy {
  display: block;
  float: left;
  margin-top: 0;
  padding-left: 20px;
}

.footer__brand {
  margin-top: -4px;
  font-size: 14px;
}

.footer__legal {
  margin-top: 0px;
}
