.footer {
  display: block;
  overflow: hidden;
  padding-top: 40px;
  width: 100%;
}

.copyright {
  display: block;
  float: left;
  overflow: hidden;
}

.getInTouch {
  display: block;
  float: right;
  min-width: 20vw;
}

.footerK {
  display: block;
  float: left;
}

.copy {
  display: block;
  float: left;
  margin-top: -10px;
  padding-left: 20px;
}

.copyLegal {
  margin-top: -5px;
}
