@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('//fonts.googleapis.com/css?family=Fira+Mono');
@import './settings.scss';

body {
  font-family: 'Open Sans';
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

header {
  text-align: center;
}
