@import '../../css/settings';
@import '../../css/mixins/index';

.page__main {
  flex: 1;
}

.page__narrow--anchor {
  display: none;
  left: 20px;
  position: absolute;
  top: 20px;
}

.deprecated {
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1025px) {
  .page__narrow--anchor {
    display: block;
  }
}
